/**��ҳ��ɫ**/
.pagination>.active>a{
	background-color:#6f5499;
    border-color:#6f5499;
}
.pagination>.active>a:HOVER{
	background-color:#6f5499;
    border-color:#6f5499;
}
/**������hover��ʽ**/
.table tr:HOVER,.table tr a:HOVER{
	color:#330099;
}
.table>tbody>tr>td{
	font-family:微软雅黑;
}
.table>tbody>tr:HOVER{background-color: #FFFFCC;}
.table>tbody>tr>td>a{color: #6f5499;font-family: 微软雅黑;}
.btn-default:HOVER {
	color:#330066;
}
.btn{font-family:微软雅黑;}
.label:HOVER {
	cursor: pointer;
	color:#330099;
}
