body{background-color: #f1f2f7;overflow-x:hidden;overflow-y: auto; }
.dashboard_title{display:block;white-space:nowrap; overflow:hidden; text-overflow:ellipsis;width: 150px;text-align: center;margin-left: 60px;color: white;}
.navigate-panel{
	padding:0px;
	height: 100%;
    min-height: 900px;
    width:240px;
    position:fixed;
    top: 0;
    /*background-color: #32323a;*/
    overflow:hidden;
    z-index: 9;
    background: url('/www/admin/img/left-bg.jpg');
}
.nav-profile{
	padding-top:20px;
	color: white;
	text-align: center;
}

a:hover{text-decoration: none;}
.nav-folder{
	width: 100%;
	/*border-top: 1px solid rgba(255,255,255,0.05);*/
	color: white;
    display: block;
    text-decoration: none;
    letter-spacing: 1px;
    padding: 18px 0 18px 15px;
    line-height: 18px;
    height: 54px;
    transition: all .3s ease;
    font-size: 16px;
}
.nav-folder a {color: #aeb2b7;}
.nav-folder span{padding-right: 20px;font-size: 18px;}
.nav-folder:HOVER{background-color: black;}

.nav-folder-item{
	width: 100%;
	color: #aeb2b7;
    display: block;
    text-decoration: none;
    letter-spacing: 1px;
    padding: 10px 0 18px 50px;
    line-height: 18px;
    height: 34px;
    transition: all .3s ease;
    cursor: pointer;
}
.nav-folder-item:HOVER{background-color: black;text-decoration: none;}
.nav-active{background-color: #CC9999;}
.page-content{
    padding:20px;
    z-index: 1;
    position: absolute;
    left: 240px;
    top: 0px;
    width: 87%;
    height: 100%;
}

.sbtn{
    padding: 5px;
    border: none;
    border-radius: 4px;
    margin-left: 1px;
    color: #fff!important;
    cursor: pointer;
}
.sbtn-green{ background-color: #42c02e;}
.sbtn-purple{ background-color: #6666CC;}
.sbtn-red{ background-color: #FF3333;}
.sbtn-yellow{background-color: #FFCC00;}
.sbtn-purple2{background-color: #75449a;}












.panel {
    margin-bottom: 20px;
    background-color: transparent;
    border: 1px solid transparent;
    border-radius: 0px;
    -webkit-box-shadow: 0 1px 1px rgba(0,0,0,.05);
    box-shadow: 0 1px 1px rgba(0,0,0,.05);
}
.panel-body {
     padding: 0px;
}
.panel-title {
    font-size: 16px;
    color: inherit;
}
.panel-group {
     margin-bottom: 0px;
}
.panel-group .panel+.panel {
    margin-top: -1px;
}